@font-face {
    font-family: 'Jost';
    src: local('Jost'), local('Jost*'), url('fonts/Jost-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Jost';
    font-style: italic;
    src: local('Jost'), local('Jost*'), url('fonts/Jost-Italic-VariableFont_wght.ttf');
}

:root {
    font-family: 'Jost', sans-serif;
    color: #FFBF00;
    background: #222222;
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: #FFBF00;
}

header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid #16161D;
    padding: 1rem;
    flex-flow: row;
    align-items: stretch;
}

header>div {
    flex: 1;
    text-align: center;
    margin: auto;
}

header>div:first-of-type {
    text-align: left;
}

header>div:last-of-type {
    text-align: right;
}

header>div:last-of-type>a {
    padding: 1rem;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

main {
    max-width: 50rem;
    margin: .25rem auto;
    background: #16161D;
    box-sizing: border-box;
    border: .25rem solid #1B1B1B;
    padding: 3rem;
    box-shadow: 0 21rem 87rem 0 rgba(213, 211, 197, .15), 11.737rem 22.074rem 32rem 0 rgba(126, 90, 17, .1);
    transition: transform .25s ease-out;
}

main:hover {
    transform: translate3d(0, -.125rem, 0);
}

main>article:not(:last-of-type)::after {
    content: '';
    display: block;
    background: #FFBF00;
    width: 70%;
    height: .125rem;
    margin: 1rem auto;
}

label {
    height: 3rem;
    display: inline-block;
    cursor: text;
}

label>* {
    position: absolute;
}

label>span {
    height: 1rem;
    padding: 0 1rem;
}

label>input {
    padding: .5rem;
    margin: 0;
    box-sizing: border-box;
    height: 3rem;
    border: .125rem solid #FFBF00;
    border-radius: .5rem;
    background: #222222;
    width: 20rem;
    color: wheat;
}

label>span>span {
    position: relative;
    transition: all .25s ease-in-out;
    top: .75rem;
    left: 0;
}

label>input:focus~span>span,
label>input:not(:placeholder-shown)~span>span {
    top: -.125rem;
    left: -.25rem;
    font-size: .75rem;
}

label>input:invalid~span>span {
    color: tomato;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: .25rem auto;
    background: #16161D;
    box-sizing: border-box;
    border-top: .25rem solid #1B1B1B;
    padding: .5rem 1.5rem;
}